<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lalit's Cakes</title>
    <link rel="stylesheet" href="cake.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">



    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
</head>

<body>
    {{>navbar}}
    <div class="container-fluid nav_bg">
        <div class="row">
            <div class="col-15 mx-auto">


                


                <nav class="navbar navbar-expand-lg" style="background-color: burlywood; padding: 1px;">
                    <div class="container-fluid">

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="cart-2">Birthday Cakes</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="cart-3">Designer Cakes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="cart-4">Christmas Cakes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="cart-5">Anniversary Cakes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="cart-6">Photo Cakes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="cart-7">New Year Cakes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="cart-8">Eggless Cakes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>


                <div class="container">
                    <br>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="cake2.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption">
                                    <a href="https://www.google.co.uk/" target="_blank"><button type="button"
                                            class="btn btn-success btn-lg">Explore Now</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>